@import '../config.scss';

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $neutral-lightest;
  padding: $default-spacing * 3;

  button {
    display: none;
    > span {
      font-size: 1.125rem;
      margin-right: $default-spacing;
    }
  }
}

.rightContainerMobile {
  display: flex;
  align-items: center;
  gap: $default-spacing;
  color: $primary-main;

  > span:last-child {
    cursor: pointer;
  }
}

.rightContainerDesktop {
  display: none;
}

@media screen and (min-width: $lg-breakpoint) {
  .header {
    button {
      display: block;
    }
  }
}