.defaultInputWrapper {
  border-radius: 0;
  flex: 1;
  border: none;
  border-bottom: 1px solid var(--neutral-darkest);
  font-size: 1rem;
  padding: var(--default-spacing) calc(var(--default-spacing) / 2) !important;
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.defaultInput {
  border: none;
  width: 100%;
  outline: none;
}

.defaultInputWrapper:focus-within {
  border-bottom: 1px solid var(--primary-main);
  color: var(--primary-main);
}

.defaultInputContainer {
  display: flex;
  gap: var(--default-spacing);
  width: 100%;
}