@import "../config.scss";

.default {
  display: flex;
  gap: $default-spacing * 2;

  background-color: $neutral-lightest;

  padding: $default-spacing * 2;
  border-radius: $default-spacing;

  cursor: pointer;

  div {
    p {
      font-weight: 600;
    }
  }
}

.default:hover {
  border: 1px solid $primary-main;
}

.finished {
  div {
    p {
      text-decoration: line-through black;
      // display: none;
      // text-transform: capitalize !important;
    }
  }
}