@import "../config.scss";

.container {
  flex: 1;
}

.default {
  border: none !important;
  height: 42px;
  border-bottom: 1px solid $neutral-medium !important;
  outline: none;
  padding: 8px 4px;
  width: 100%;
  background: white;
}

.outline {
  border: none !important;
  height: 42px;
  background: white;
  border: 1px solid $neutral-medium !important;
  border-radius: 4px;
  outline: none;
  padding: 8px 4px;
  width: 100%;
}