$mobile-breakpoint: 480px;
$lg-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1200px;

$default-spacing: 8px;

// Colors
$primary-main: #ed1164;
$secondary-color: #91a3ad;
$error-color: #ed421c;
$neutral-lightest: #ffebf2;
$neutral-medium: #91a3ad;
$neutral-darkest: #575757;
