html,
body,
#__next {
  height: 100%;
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;

  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  flex: 1 1 0;
}

:root {
  --default-spacing: 8px;

  --primary-main: #ed1164;

  --neutral-darkest: #91a3ad;
  --neutral-lightest: #ffffff;

  --max-mobile: 480px;
  --max-tablet: 768px;
  --max-lg: 1024px;
  --max-xl: 1200px;
}
