.container,
.innerContainer,
.containerLeft {
  display: flex;
  flex-direction: column;
}

.container {
  background: var(--neutral-lightest);
  height: 100%;
  flex: 1 1 0;
  padding: calc(var(--default-spacing) * 4);
  gap: calc(var(--default-spacing) * 4);
  justify-content: center;
}

.innerContainer {
  gap: calc(var(--default-spacing) * 2);
}

.innerContainer > button {
  margin-top: calc(var(--default-spacing) * 2);
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .containerLeft,
  .containerRight {
    flex: 1;
  }

  .containerRight {
    display: flex;
    justify-content: center;
  }

  .innerContainer {
    max-width: 400px;
    flex: 1;
    padding: calc(var(--default-spacing) * 4);
  }
}
